[ req ]
default_bits        = 2048
distinguished_name  = req_distinguished_name
string_mask         = utf8only

[ req_distinguished_name ]
countryName                     = Country Name (2 letter code)
countryName_default             = KR
stateOrProvinceName             = State or Province Name (full name)
stateOrProvinceName_default     = Seoul
localityName                    = Locality Name (eg, city)
localityName_default            = Seoul
organizationName                = Organization Name (eg, company)
organizationName_default        = team3
organizationalUnitName          = Organizational Unit Name (eg, section)
organizationalUnitName_default  = team3-cert
commonName                      = Common Name (e.g. server FQDN or YOUR name)
commonName_default              = team3-RootCert-V2
emailAddress                    = Email Address
emailAddress_default            = admin@team3.com

[ v3_client ]
basicConstraints = CA:FALSE
nsCertType = client, email
nsComment = "OpenSSL Generated Client Certificate"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
# VPN 연결에 필수적인 EKU (Client Authentication) 추가
extendedKeyUsage = clientAuth